/composer.lock
*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
.tmpoj
build
nbproject/
.idea

/localoil
/fuel/logs/*
/fuel/cache/*
/fuel/vendor/*

/fuel/app/config/crypt.php
/fuel/app/config/ninjauth.php


/fuel/app/config/development/*

/fuel/app/config/stage/*

/fuel/app/config/production/*


fuel/app/cache/*

fuel/app/logs/*/*/*

fuel/app/cache/*/*/*

fuel/app/config/db.php

fuel/app/config/db.php
